.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .main {
    column-gap: 0px;
  }
}
