@import "../../styles/_var";

.field-main {
  &--wrap {
    flex-grow: 1;
    background: $c-pre1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

//sp
@include mq(sp) {
  .field-main {
    &--wrap {
      width: 100%;
      height: 100vh;
      background: red;
    }
  }
}
