@import "../../styles/_var";

.field-side {
  &--wrap {
    width: 200px;
    min-width: 200px;
    background: DarkSlateGrey;
    display: flex;
    align-items: flex-start;
  }
}

//sp
@include mq(sp) {
  .main-side {
    &--wrap {
      display: none;
    }
  }
}
